@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// Font Family
$theme-text-font: "Poppins", sans-serif;

// Primary Colors
$theme-red-color: hsl(0, 100%, 74%);
$theme-green-color: hsl(154, 59%, 51%);

// Accent Colors
$theme-blue-color: hsl(248, 32%, 49%);

// Neutral Colors
$theme-dark-blue-color: hsl(249, 10%, 26%);
$theme-grayish-blue-color: hsl(246, 25%, 77%);
$theme-white-color: hsl(255, 255%, 255%);

// Transition
$theme-transition: 0.3s ease-in-out;

$media: (
  sm: 576px,
  // Small devices
  md: 768px,
  // Medium devices
  lg: 992px,
  // Large devices
  xl: 1200px,
  // X-Large devices
  2xl: 1400px,
  // XX-Large devices
  3xl: 1900px,
  // XXX-Large devices
  rwd: 364px,
  // Custom device
);

// Border Shadow
$theme-box-shadow: 0 0.063rem 0.188rem rgba($theme-dark-blue-color, 0.12),
  0 0.063rem 0.125rem rgba($theme-dark-blue-color, 0.24);
$theme-box-shadow-hover: 0 0.875rem 1.75rem rgba($theme-dark-blue-color, 0.25),
  0 0.625rem 0.625rem rgba($theme-dark-blue-color, 0.22);
